body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  display: grid;
  grid-template-columns: 12% 12% 12% 12% 12% 12% 12% 12%;
    grid-template-rows: 130px 130px 130px 130px;
}
.n{
  border: #000 1px solid;
  text-align: center;
  padding-top: 40px;
  font-size: 30px;
}
.green{
  background-color: green;
}
.yellow{
  background-color: yellow;
}
.red{
  background-color: red;
}
